.sidebarProfile {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0D6869;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    z-index: 1;
    border-radius: 1rem;

}

.sidebarProfile.open {
    width: 250px;
    top: 5rem;

}

.sidebarProfile p {
    padding: 8px 8px 8px 32px;
    font-weight: 600;
    font-size: 1rem;

}

.close-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}